.login_button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 30px;
}

.login_button svg {
  margin-right: 10px;
  cursor: pointer;
}

.nav_section {
  display: flex;
  justify-content: center;
}

.nav_section img {
  cursor: pointer;
}

.menu_area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_area {
  position: absolute;
  right: 20px;
  overflow: auto;
}

.menu_list {
  display: flex;
  list-style-type: none;
}

.menu_list li {
  margin: 15px;
  padding: 5px;
  cursor: pointer;
}

.search_input {
  background-color: transparent;
  border: none;
  border-bottom: solid 1px black;
  padding: 7px;
  padding-left: 30px;
  width: 110px;
}

.search_input:focus {
  border-bottom: solid 2px black;
  outline: none;
}

.search_button {
  position: relative;
  right: -20px;
  cursor: pointer;
}
